@charset "utf-8";
/* 초기화영역 */
* { margin: 0; padding: 0; }
body, html { width: 100%; font-family: 'Nanum Gothic', sans-serif; color:black ; background-color: #fff; }
ul { list-style: none; }
a { text-decoration: none; }
.wrap { clear:both; width: 100%; }